<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminPanel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/styles.css') }}">
</head>
<body>

    <header>
        <a href="{{ url_for('homePage') }}"><h1>TurystycznyGniot</h1></a>
    </header>
    <main>
        <nav>
            <ul>
                <li>
                     <a href="{{ url_for('homePage') }}">Strona Główna</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Wyloguj</a>
                </li>
                <li>
                    <a href="{{ url_for('profile') }}">Profil</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <h4>Stan produktów</h4>

            <table>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Cena</th>
                    <th>Liczba</th>
                    <th>Zdjecie</th>
                    <th>Działanie</th>
                </tr>

                {% for product in products%}
                <tr>
                    <td>{{product[0]}}</td>
                    <td>{{product[1]}}</td>
                    <td>{{product[2]}}</td>
                    <td>{{product[3]}}</td>
                    <td>{{product[4]}}</td>
                    <td>{{product[5]}}</td>
                    <td>
                        <a href="{{url_for('updateProduct', productId=product[0])}}" class="button">Edytuj</a>
                    </td>
                </tr>
                {%endfor%}
            </table>

            <form action="{{ url_for('addProduct') }}" method="post" enctype="multipart/form-data">
                <input type="text" name="name" placeholder="Nazwa" required>
                <input type="text" name="description" placeholder="Opis" required>
                <input type="number" name="price" step="0.01" placeholder="Cena" required>
                <input type="number" name="number" placeholder="Liczba" required>
                <input type="file" name="image" required>
                <input type="submit" value="Dodaj produkt" class="button">
            </form>

        <h1>Zamowienia</h1>
        <table>
            <tr>
                <th>ID Zamowienia</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Kod</th>
                <th>Miasto</th>
                <th>Adres</th>
                <th>Nazwa</th>
                <th>Data</th>
                <th>Liczba</th>
                <th>Cena</th>
                <th>Status</th>
                <th>Działanie</th>
            </tr>
            {% for order in orders: %}
            <tr>
                <td>{{ order[0] }}</td>
                <td>{{ order[1] }}</td>
                <td>{{ order[2] }}</td>
                <td>{{ order[3] }}</td>
                <td>{{ order[4] }}</td>
                <td>{{ order[5] }}</td>
                <td>{{ order[6] }}</td>
                <td>{{ order[7] }}</td>
                <td>{{ order[8] }}</td>
                <td>{{ order[9] }}</td>
                <td>{{ order[10] }}</td>
                <td>
                    <form action="{{ url_for('changeData', productId=order[0]) }}" method="post">
                    <select name="status">
                        <option value="oczekiwanie" default>Oczekiwanie</option>
                        <option value="potwierdzone">Potwierdzone</option>
                        <option value="wyslane">Wysłane</option>
                        <option value="anulowane">Anulowane</option>
                        <option value="zakonczone">Zakończone</option>
                    </select>
                        <input type="submit" value="Zmnień" class="button">
                    </form>
                </td>
            </tr>
        {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>